In [25]:
# Purpose: Preview Freddie Mac Q1 2025 acquisition data

import pandas as pd

acq_path = "../ingestion/data/raw/freddie_mac/historical_data_2025/historical_data_2025Q1/historical_data_2025Q1.txt"
perf_path = "../ingestion/data/raw/freddie_mac/historical_data_2025/historical_data_2025Q1/historical_data_time_2025Q1.txt"

df_acq = pd.read_csv(acq_path, sep="|", nrows=5, header=None)
df_perf = pd.read_csv(perf_path, sep="|", nrows=5, header=None)

df_acq

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
0,786,202503,N,205502,41180.0,0,1,P,57,30,425000,57,6.875,R,N,FRM,MO,SF,63300,F25Q10000004,N,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
1,812,202503,N,205502,47260.0,0,1,P,43,35,235000,43,7.125,R,N,FRM,VA,SF,23000,F25Q10000005,C,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
2,750,202503,Y,205502,NaN,25,1,P,90,35,150000,90,6.375,R,N,FRM,IA,SF,52600,F25Q10000006,P,360,1,Other sellers,NATIONSTAR MORTGAGE LLC DBA MR. COOPER,NaN,NaN,9,NaN,2,N,N
3,724,202503,Y,205502,NaN,0,1,P,54,46,134000,54,7.375,R,N,FRM,ME,MH,4500,F25Q10000007,P,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
4,578,202503,N,205502,23060.0,0,1,P,80,48,236000,80,7.875,R,N,FRM,IN,SF,46800,F25Q10000009,P,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7

In [26]:
df_perf

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
0,F25Q10000004,202502,425000.0,0,0,360,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN,NaN,NaN,NaN,NaN,425000.0
1,F25Q10000004,202503,425000.0,0,1,359,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,425000.0
2,F25Q10000004,202504,425000.0,0,2,358,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN,NaN,NaN,NaN,NaN,425000.0
3,F25Q10000004,202505,424000.0,0,3,357,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN,NaN,NaN,NaN,NaN,424000.0
4,F25Q10000004,202506,424000.0,0,4,356,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,424000.0

In [34]:
# Purpose: Apply the official Freddie Mac origination column names (32 fields)

acq_cols = [
    "credit_score",
    "first_payment_date",
    "first_time_homebuyer_flag",
    "maturity_date",
    "msa",
    "mi_pct",
    "num_units",
    "occupancy_status",
    "orig_combined_ltv",
    "orig_dti",
    "orig_upb",
    "orig_ltv",
    "orig_interest_rate",
    "channel",
    "prepayment_penalty_mortgage_flag",
    "amortization_type",
    "property_state",
    "property_type",
    "postal_code",
    "loan_sequence_number",
    "loan_purpose",
    "orig_loan_term",
    "num_borrowers",
    "seller_name",
    "servicer_name",
    "super_conforming_flag",
    "pre_relief_refinance_loan_sequence_number",
    "special_eligibility_program",
    "relief_refinance_indicator",
    "property_valuation_method",
    "interest_only_indicator",
    "mi_cancellation_indicator",
]

perf_cols = [
    "loan_sequence_number",                 # 1
    "monthly_reporting_period",             # 2
    "current_actual_upb",                   # 3
    "current_loan_delinquency_status",      # 4
    "loan_age",                             # 5
    "remaining_months_to_legal_maturity",   # 6
    "defect_settlement_date",               # 7
    "modification_flag",                    # 8
    "zero_balance_code",                    # 9
    "zero_balance_effective_date",          # 10
    "current_interest_rate",                # 11
    "current_non_interest_bearing_upb",     # 12
    "ddlpi",                                # 13  (due date of last paid installment)
    "mi_recoveries",                        # 14
    "net_sale_proceeds",                    # 15
    "non_mi_recoveries",                    # 16
    "expenses",                             # 17
    "legal_costs",                          # 18
    "maintenance_and_preservation_costs",   # 19
    "taxes_and_insurance",                  # 20
    "miscellaneous_expenses",               # 21
    "actual_loss_calculation",              # 22
    "cumulative_modification_cost",         # 23
    "interest_rate_step_indicator",         # 24
    "payment_deferral_flag",                # 25
    "estimated_loan_to_value",              # 26  (ELTV)
    "zero_balance_removal_upb",             # 27
    "delinquent_accrued_interest",          # 28
    "delinquency_due_to_disaster",          # 29
    "borrower_assistance_status_code",      # 30
    "current_month_modification_cost",      # 31
    "interest_bearing_upb",                 # 32
]

In [28]:
df_acq = pd.read_csv(acq_path, sep="|", nrows=5, header=None)

assert df_acq.shape[1] == len(acq_cols), (df_acq.shape[1], len(acq_cols))
df_acq.columns = acq_cols

df_acq.head()

,credit_score,first_payment_date,first_time_homebuyer_flag,maturity_date,msa,mi_pct,num_units,occupancy_status,orig_combined_ltv,orig_dti,orig_upb,orig_ltv,orig_interest_rate,channel,prepayment_penalty_mortgage_flag,amortization_type,property_state,property_type,postal_code,loan_sequence_number,loan_purpose,orig_loan_term,num_borrowers,seller_name,servicer_name,super_conforming_flag,pre_relief_refinance_loan_sequence_number,special_eligibility_program,relief_refinance_indicator,property_valuation_method,interest_only_indicator,mi_cancellation_indicator
0,786,202503,N,205502,41180.0,0,1,P,57,30,425000,57,6.875,R,N,FRM,MO,SF,63300,F25Q10000004,N,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
1,812,202503,N,205502,47260.0,0,1,P,43,35,235000,43,7.125,R,N,FRM,VA,SF,23000,F25Q10000005,C,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
2,750,202503,Y,205502,NaN,25,1,P,90,35,150000,90,6.375,R,N,FRM,IA,SF,52600,F25Q10000006,P,360,1,Other sellers,NATIONSTAR MORTGAGE LLC DBA MR. COOPER,NaN,NaN,9,NaN,2,N,N
3,724,202503,Y,205502,NaN,0,1,P,54,46,134000,54,7.375,R,N,FRM,ME,MH,4500,F25Q10000007,P,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
4,578,202503,N,205502,23060.0,0,1,P,80,48,236000,80,7.875,R,N,FRM,IN,SF,46800,F25Q10000009,P,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7

In [36]:
df_perf = pd.read_csv(perf_path, sep="|", header=None)
assert df_perf.shape[1] == len(perf_cols)

df_perf.columns = perf_cols
df_perf.head()

/var/folders/hh/nq9hmlj50jz8hbb28q1rbknr0000gn/T/ipykernel_16167/1987483732.py:1: DtypeWarning: Columns (24,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df_perf = pd.read_csv(perf_path, sep="|", header=None)

,loan_sequence_number,monthly_reporting_period,current_actual_upb,current_loan_delinquency_status,loan_age,remaining_months_to_legal_maturity,defect_settlement_date,modification_flag,zero_balance_code,zero_balance_effective_date,current_interest_rate,current_non_interest_bearing_upb,ddlpi,mi_recoveries,net_sale_proceeds,non_mi_recoveries,expenses,legal_costs,maintenance_and_preservation_costs,taxes_and_insurance,miscellaneous_expenses,actual_loss_calculation,cumulative_modification_cost,interest_rate_step_indicator,payment_deferral_flag,estimated_loan_to_value,zero_balance_removal_upb,delinquent_accrued_interest,delinquency_due_to_disaster,borrower_assistance_status_code,current_month_modification_cost,interest_bearing_upb
0,F25Q10000004,202502,425000.0,0,0,360,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN,NaN,NaN,NaN,NaN,425000.0
1,F25Q10000004,202503,425000.0,0,1,359,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,425000.0
2,F25Q10000004,202504,425000.0,0,2,358,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN,NaN,NaN,NaN,NaN,425000.0
3,F25Q10000004,202505,424000.0,0,3,357,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN,NaN,NaN,NaN,NaN,424000.0
4,F25Q10000004,202506,424000.0,0,4,356,NaN,NaN,NaN,NaN,6.875,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,424000.0

In [33]:
# Purpose: Count exact number of columns in performance file (ground truth)

perf_path = "../ingestion/data/raw/freddie_mac/historical_data_2025/historical_data_2025Q1/historical_data_time_2025Q1.txt"

with open(perf_path, "r") as f:
    first_line = f.readline().rstrip("\n")

num_cols = len(first_line.split("|"))
num_cols

32